*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    position: relative;
    width: 85vw;
    margin: auto;
}

/* ------------------------
        START HEADER
------------------------ */
.box-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 42.82vw;

    background-image: url("../Assets/star\ uó\ topo@2x.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;
}

.box-imgStar 
{ 
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 23.5vw;
    left: 19.0625vw;
    width: 23.802083vw;
}

.box-imgWars 
{ 
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 23.5vw;
    left: 64.79166vw;
    width: 26.09375vw;
}
.imgStar, .imgWars { width: 100%; position: absolute;}

.box-imgKylo{
    position: absolute;
    top: 0;
    left: 10vw;
    width: 70.46875vw;
}
.imgKylo{ width: 100%; }

.box-createLegion{
    position: absolute;
    bottom: 0;
    left: 79.166vw;
    width: 9.140625vw;
}

.box-LegionTxt {}
.LegionTxt {font-size: 1.54vw; text-transform: uppercase;}

.divider-legion {
    width: 100%; 
    background-color:black; 
    height: .18vw;
    margin: 1vw 0;
}

.box-index{
    display: flex;
    align-items: flex-end;
}

.index-selected {font-size: 1.45vw;} 
.index-total {font-size: 1.2vw;}

.bt-backIndex, .bt-nextIndex{
    width: 1.2vw;
    height: 1.2vw;
    font-size: 1.2vw;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: rgb(169, 189, 193);
    color: black;
}

.bt-backIndex {margin-left: .8vw; margin-right: .5vw;}


/* ------------------------
        START MAIN
------------------------ */
.box-main{
    position: relative;
    width: 100%;
    height: 77.9583vw;
    background-image: url("../Assets/sta\ uo\ robot@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:left;
}

.main-upSide{
    width: 100%;
    background-color: purple;
    display: flex;
    justify-content: flex-end;
}

.box-mainInfo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 92%;
    height: 28vw;
    background-color: gray;
}

.divider-main{
    display: flex;
    width: 100%;
    height: .25vw;
    background-color: black;
    margin: 5vw 0;
}

/*
    CARD - HOW TO PLAY
*/
.box-download{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 30.5vw;
    z-index: 2; 
}
.box-dwFund{} 
.dwFund { width: 20.72916vw;}

.box-dwTitle{
    position: absolute; 
    top: 5vw;
    width: 60%; 
}
.dwTitle{
    font-size: 2.5vw;
    text-transform: uppercase;
    color: white;
}

.box-dwParagraph{
    position: absolute;
    top: 13.8vw;
    width: 85%;
}
.dwParagraph{
    font-size: 1.2vw;
    color: white;
}

.box-dwBt{
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 5.8vw;
    width: 60%;
    height: 10%;
}
.dwBt{ 
    width: 100%; 
    height: 100%;
    background-color: transparent;
    border: .2vw solid white;
    border-radius: .4vw;
    outline: none;
    color: white;
    font-size: 1.2vw;
    text-transform: uppercase;
}

/*
    ABOUT THE GAME
*/
.mainInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: yellow;
    width: 49.47916vw;
    height: 15vw;
}

.mainInfo-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    width: 55%;
}

.mainInfo-title{ font-size: 2.2vw;}
.mainInfo-paragraph{ font-size: 1.2vw;}

.divider-mainInfo{
    width: 35%;
    height: .25vw;
    margin: .8vw 0;
    background-color: black;
}

.mainInfo-Img{
    display: flex;
    align-items: flex-end;
    width: 40%;
}
.infoImg{ width: 100%; }


/*
    GAME STRUCTURE 
*/
.main-bottomSide{
    position: relative;
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-gameStructure{
    display: flex;
    justify-content: center;
    position: relative;
    width: 92%;
    background-color: gray;
}

.box-personSifh{
    position: absolute;
    top: 0;
    left: 0;
}
.personSifh{width: 44.0625vw;}

.box-personRey{
    position: absolute;
    top: 0;
    right: 0;
}
.personRey{width: 20.72916vw;}


.box-mainMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 49.5%;
    background-color: yellow;
}

.box-menuTitle{
    display: flex;
    justify-content: flex-end;
    width: 26.927083vw;
    background-color: turquoise;
}
.menuTitle{ 
    font-size: 3.5vw; 
    text-transform: uppercase;
    text-align: end;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 26.927083vw;
    height: 27.2vw;
    background-color: green;
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 2.3vw;
}