@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: Sovereign;
    src: url("../assets/fonts/Sovereign.otf");
}

span{font-weight: 800;}

.container{
    position: relative;
    width: 86vw;/*85vw*/
    margin: auto;
}
/* ------------------------
        START HEADER
------------------------ */
.box-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 42.82vw;

    background-image: url("../Assets/star\ uó\ topo@2x.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;
}

.box-imgStar 
{ 
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 23.5vw;
    left: 19.0625vw;
    width: 23.802083vw;
}

.box-imgWars 
{ 
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 23.5vw;
    left: 64.79166vw;
    width: 26.09375vw;
}
.imgStar, .imgWars { width: 100%; position: absolute;}

.box-imgKylo{
    position: absolute;
    top: 0;
    left: 10vw;
    width: 70.46875vw;
}
.imgKylo{ width: 100%;}

.box-createLegion{
    position: absolute;
    bottom: 0;
    left: 79.166vw;
    width: 9.140625vw;
}
@media screen and (max-width: 700px){
    .box-createLegion{width: 14.6972vw; z-index: 20; top: 37vw;}
}

.LegionTxt {
    font-size: 1.5vw; 
    text-transform: uppercase;
    font-family: "Open Sans", Arial;
    font-weight: 600;
}
@media screen and (max-width: 700px){
    .LegionTxt{font-size: 2.4vw;}
}

.divider-legion {
    width: 100%; 
    background-color:black; 
    height: .18vw;
    margin: 1vw 0;
}
@media screen and (max-width: 700px){
    .divider-legion{height: 1vw;}
}

.box-index{
    display: flex;
    align-items: flex-end;
}

.index-selected {
    font-size: 1.45vw; 
    font-family: "Open Sans", Arial; 
    font-weight: 600;
} 
.index-total {
    font-size: 1.2vw;
    font-family: "Open Sans", Arial; 
    font-weight: 600;}
@media screen and (max-width: 700px){
    .index-selected{font-size: 2.45vw;}
    .index-total{font-size: 2.2vw;}
}

.bt-backIndex, .bt-nextIndex{
    padding: .05vw .25vw;
    font-size: .8vw;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: rgb(169, 189, 193);
    color: black;
    font-family: "Open Sans", Arial;
    margin-bottom: .2vw;
    cursor: pointer;
    font-weight: 800;
}
.bt-backIndex {margin-left: .8vw; margin-right: .5vw;}
@media screen and (max-width: 700px){
    .bt-backIndex, .bt-nextIndex{
        padding: .02vw .3vw;
        font-size: 1.5vw;
    }
}

/* ------------------------
        START MAIN
------------------------ */
.box-main{
    position: relative;
    width: 100%;
    height: 77.9583vw;
    background-image: url("../Assets/sta\ uo\ robot@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:left;
}
@media screen and (max-width: 700px){
    .box-main{height: 140vw; margin-bottom: 104vw;}
}

.main-upSide{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-mainInfo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 92%;
    height: 28vw;
}
@media screen and (max-width: 700px){
    .box-mainInfo{
        flex-direction: column;
        height: 195vw;/*197*/
        justify-content: flex-start;
    }
}

.divider-main{
    display: flex;
    width: 92%;
    height: .25vw;
    background-color: #707070;
    margin: 5vw 0;
}
@media screen and (max-width: 700px){
    .divider-main{height: 1.4vw; width:100%}
}
/*
    CARD - HOW TO DOWNLOAD
*/
.box-download{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 30.5vw;
    z-index: 2; 
} 
.dwFund { width: 20.72916vw;}
@media screen and (max-width: 700px){
    .box-download{
        position: relative;
        z-index: 0;
        margin-top: 15vw;
        height: 90vw;
    }
    .dwFund{width:61.66vw;}
}

.box-dwTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 5vw;
    width: 60%;
}
.dwTitle{
    font-size: 2.5vw;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: "Open Sans", Arial;
    font-weight: 600;
}
@media screen and (max-width: 700px){
    .dwTitle{font-size: 8vw;}
}

.box-dwParagraph{
    position: absolute;
    top: 13.8vw;
    width: 85%;
}
.dwParagraph{
    font-size: 1.1vw;
    color: rgba(255, 255, 255, 0.61);
    font-family: "Open Sans", Arial;
    font-weight: 300;
}
@media screen and (max-width: 700px){
    .box-dwParagraph{top: 36.8vw}
    .dwParagraph{ font-size: 4.2vw;}
}

.box-dwBt{
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 5.8vw;
    width: 60%;
    height: 10%;
}
.dwBt{
    position: relative; 
    width: 100%; 
    height: 100%;
    background-color: transparent;
    border: .2vw solid white;
    border-radius: .4vw;
    outline: none;
    color: white;
    font-size: 1.2vw;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 5;
    transition: 1s;
    font-family: "Open Sans", Arial;
    font-weight: 400;
}
.dwBt:hover{color: black;}
.dwBt::before{
    content: "";
    position: absolute;
    top: 0;
    left: -1vw;
    transform: translate(0, -102%);
    width: 120%;
    height: 300%;
    border-radius: 0 0 50% 50%;
    background-color: white;
    z-index: -1;
    transition: 1s;
}
.dwBt:hover::before{transform: translate(0, -25%);}
@media screen and (max-width: 700px){
    .dwBt{font-size: 4vw; border-radius: 1.4vw;}
}

/*
    ABOUT THE GAME
*/
.mainInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 49.47916vw;
    height: 15vw;
}
@media screen and (max-width: 700px){
    .mainInfo{
        flex-direction: column; 
        width: 83.88vw;
        height: 44vw;
        margin-top: 6vw;
    }
}

.mainInfo-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    width: 55%;
}
.mainInfo-title{ 
    font-size: 1.6vw; 
    font-family: "Open Sans", Arial;
    text-transform: uppercase;
    width: 12vw;
}
.mainInfo-paragraph{ font-size: 1.14vw; font-family: "Open Sans", Arial;}
@media screen and (max-width: 700px){
    .mainInfo-txt{
        order: 2;
        width: 100%;
        margin-top: 3vw;
    }
    .mainInfo-title{font-size: 4vw; width:30vw;}
    .mainInfo-paragraph{font-size: 3.9vw;}
}

.divider-mainInfo{
    width: 9.114583vw;
    height: .25vw;
    margin: .8vw 0;
    background-color: black;
}
@media screen and (max-width: 700px){
    .divider-mainInfo{width: 40.27vw; height: .7vw;}
}

.mainInfo-Img{
    display: flex;
    align-items: flex-end;
    width: 40%;
}
.infoImg{ width: 100%; }
@media screen and (max-width: 700px){
    .mainInfo-Img{
        order:1;
        width: 61.66vw;
    }
}

/*
    GAME STRUCTURE 
*/
.main-bottomSide{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-gameStructure{
    display: flex;
    justify-content: center;
    position: relative;
    width: 92%;
    height: 39.75vw;
}
@media screen and (max-width: 700px){
    .box-gameStructure{width: 100%;}
}

.box-personSifh{
    position: absolute;
    top: -1vw;
    left: 0;
}
.personSifh{width: 44.0625vw;}

.box-personRey{
    position: absolute;
    top: 3.8vw;
    right: 0;
}
.personRey{width: 20.72916vw;}

/*
    MENU
*/
.box-mainMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 49.5%;
}

.box-menuTitle{
    display: flex;
    justify-content: flex-end;
    width: 26.927083vw;
}
.menuTitle{ 
    font-size: 3.8vw; 
    text-transform: uppercase;
    text-align: end;
    font-family: "Open Sans", Arial;
    font-weight: 600;
}
@media screen and (max-width: 700px){
    .menuTitle{font-size: 4vw;}
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 26.927083vw;
    height: 27.2vw;
    list-style: none;
    z-index: 2;
}
@media screen and (max-width: 700px){
    .menu{width: 40.55vw}
}

.menu-items{
    display: flex;
}

.items{
    position: relative;
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    width: 27vw;
    text-align: end;
    z-index: 2;
    overflow: hidden;
    font-family: "Open Sans", Arial;
    text-transform: uppercase;
    padding:.2vw 0;
}
.items:hover{
    color: white;
    background-color: #D74430;
}
@media screen and (max-width: 700px){
    .items{font-size: 2.1vw; width: 38vw;}
}

/* ------------------------
    START ATTRIBBUTES
------------------------ */
.box-attributes{
    width: 100%;
    background-color: #2D2D2D;
} 

.box-attributesTitle{padding-top: 13vw; padding-bottom: 4vw;}
.attributes-title{
    margin-left: 7.5vw;
    text-transform: uppercase;
    color: white;
    font-size: 2.5vw;
    font-family: "Sovereign";
    font-weight: 300;
}
@media screen and (max-width: 700px){
    .box-attributesTitle{display: flex; align-items: center; justify-content: center;}
    .attributes-title{font-size: 4vw;}
}

.box-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box-img-battleFront{
    width: 42.9166vw;
    position: relative; 
    overflow: hidden;
}
.img-battleFront{width: 100%; height: 100%;}
@media screen and (max-width: 700px){
    .box-img-battleFront{width: 100%;}
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.box-items-img{
    width: 21.35416vw; 
    position: relative; 
    overflow: hidden;
}
.items-img{width: 100%; height: 100%;}
@media screen and (max-width: 700px){ 
    .box-items-img, .gallery{width: 100%;}
}

/*
    IMG EFECTS 
*/
.box-img-efects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d7433083;
    transform: translateY(103%);
}
.box-items-img:hover .box-img-efects{transform: translateY(0); transition: .5s;}
.box-img-battleFront:hover .box-img-efects{transform: translateY(0); transition: .5s;}

.img-efects-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}
.img-efects-title{
    font-family: Sovereign, Arial;
    font-weight: 300;
    color: white;
    width: 6.40625vw;
    width: 40%;
    font-size: 1.3vw;
    margin-top: 1vw;
}
@media screen and (max-width: 700px){ 
    .img-efects-title{font-size: 4.3vw;}
}

.img-efects-paragraph{
    font-family: "Open Sans", Arial;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.692);
    width: 17.34375vw;
    font-size: .84vw;
}
@media screen and (max-width: 700px){ 
    .img-efects-paragraph{font-size: 2.84vw; width: 60vw;}
}

.bt-img-efects{
    position: relative;
    outline:none;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border: .15vw solid white;
    padding: .5vw 2vw;
    font-size: 1.2vw;
    z-index: 5;
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
}
@media screen and (max-width: 700px){ 
    .bt-img-efects{font-size: 3.2vw; padding: 2vw 6vw;}
}

.bt-img-efects::before{
    content: "";
    position: absolute;
    top: 0;
    left: -1vw;
    transform: translate(0, -102%);
    width: 120%;
    height: 300%;
    border-radius: 0 0 50% 50%;
    background-color: white;
    z-index: -1;
    transition: .5s;
}
.bt-img-efects:hover{color: black; transition: 1s;}
.bt-img-efects:hover::before{transform: translate(0, 0); transition: 1s;}

.frame-top{position: absolute; top: 0; left: 0;}
.frame-top::before{
    position: absolute;
    content: "";
    width: .2vw;
    height: 3vw;
    background-color: #fff;
}
.frame-top::after{
    position: absolute;
    content: "";
    width: 3vw;
    height: .2vw;
    background-color: #fff;
}

.frame-bottom{position: absolute; bottom: 0; right: 0;}
.frame-bottom::before{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: .2vw;
    height: 3vw;
    background-color: #fff;
}
.frame-bottom::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 3vw;
    height: .2vw;
    background-color: #fff;
}
@media screen and (max-width: 700px){ 
    .frame-top::before, .frame-bottom::before{
        width: .6vw;
        height: 8vw;
    }

    .frame-top::after, .frame-bottom::after{
        width: 8vw;
        height: .6vw;
    }
}
/**/

.box-hierarchy{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hierarchyTrooper{width: 86vw; margin-top: 4vw;}
@media screen and (max-width: 700px){ 
    .hierarchyTrooper{width: 100%;}
}

.box-safetyRules{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1vw;
    padding-bottom: 20vw;
}

.safetyRules-paragraph{
    font-family: "Open Sans", Arial;
    width: 42.2916vw; 
    color:rgba(255, 255, 255, 0.61);
    font-size: .9vw;
    text-align: end;
}
@media screen and (max-width: 700px){ 
    .safetyRules-paragraph{font-size: 2.1vw; width: 62.22vw;}
}
/* ------------------------
    START HOW TO PLAY
------------------------ */
.box-howPlay{
    width: 100%;
    margin-bottom: 10vw;
    position: relative;
}
@media screen and (max-width: 700px){ 
    .box-howPlay{padding-bottom: 12vw;};
}

.box-captain{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27.96875vw;
}
.img-captain{width: 100%;}
@media screen and (max-width: 700px){ 
    .box-captain{
        width: 105vw;
        left: -42.8vw;
    };
}

.box-howPlay-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 27vw;
    width: 100%;
}
.howPlay-txt{
    color: white; 
    font-size: 2.7vw; 
    font-family: "Open Sans", Arial;
    margin-left: 8vw;
    text-transform: uppercase;
}
@media screen and (max-width: 700px){ 
    .box-howPlay-txt{justify-content: flex-end; bottom: 124vw;}
    .howPlay-txt{font-size: 3.6vw; margin-right: 6vw;}
}

.box-tutorial{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.box-step{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 65%;
    height: 22vw;  
}
@media screen and (max-width: 700px){ 
    .box-step{
        flex-direction: column; 
        height: 120vw;
        justify-content: space-evenly;
    }
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 13.5416vw;
}
@media screen and (max-width: 700px){ 
    .step{width: 40.55vw;}
}

.order{
    font-size: 3vw; 
    font-family: "Open Sans", Arial;
    font-weight: 300;
}
.bt-step:hover .order{font-weight: 900;}

.bt-step{
    position: relative;
    width: 100%;
    height: 3.8vw;
    outline: none;
    border: none;
    color: white;
    border-radius: 0;
    background-color: #000000;
    text-transform: uppercase;
    font-size: 1.4vw;
    margin: 1vw 0;
    z-index: 5;
    overflow: hidden;
    font-family: "Open Sans", Arial;
    font-weight: 300;
    cursor: pointer;
}
.bt-step::before, .underline::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D74430;
    z-index: -1;
    transform: translateX(102%);
    transition: .5s;
}
.bt-step:hover::before {transform: translateX(0);}
.bt-step:hover .underline::before{transform: translateX(0);}

.step-paragraph{width:9.166vw; font-size: 1vw;  font-family: "Open Sans", Arial;}
.step-paragraph.choose{width: 50%;}
.step-paragraph.conquest{width: 40%;}
.underline{
    position: relative;
    width: 40%; 
    height: .45vw;
    background-color: black;
    margin-top: 1vw;
    z-index: 5;
    transition: .7s;
    overflow: hidden;
}
@media screen and (max-width: 700px){ 
    .order{font-size: 4.8vw;}
    .bt-step{height: 12vw; font-size: 3.2vw;}
    .step-paragraph{font-size: 3vw; width: 34.16vw;}
    .underline{height: 1.45vw;}
}
/* ------------------------
    START FOOTER
------------------------ */
.box-footer{
    position: relative;
    width: 63.9583vw;
    background-color: #FF5A56;
    height: 45vw;
}
@media screen and (max-width: 700px){
    .box-footer{width: 100%; height: auto;}
}

.box-darthVader{
    position: absolute;
    left: 52.5vw;
    bottom: 1vw;
    width: 39.375vw;
}
.img-darthVader{width: 100%;}
@media screen and (max-width: 700px){
    .box-darthVader{top: 132vw; left: 8vw; width: 83.8vw;}
}


.content-footer{
    width: 27.916vw;
    margin-left: 6.2vw;
}
@media screen and (max-width: 700px){
    .content-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 86vw;
        margin: auto;
    }
}

.footer-title{
    font-family: "Sovereign";
    font-weight: 300;
    font-size: 2.5vw;
    color: white;
    padding-top: 7vw;
    padding-bottom: 3.5vw;
}
@media screen and (max-width: 700px){
    .footer-title{font-size: 15vw; text-align: center;}
}

.footer-paragraph{
    font-family: "Open Sans", Arial;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 300;
}
@media screen and (max-width: 700px){
    .footer-paragraph{font-size: 4vw;}
}

.box-bt{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 700px){
    .box-bt{margin-top: 4.5vw;}
}
.bt-google-play, .bt-app-store{width: 48%;}
.img-google-play, .img-app-store{width: 100%;}


.divider-footer{
    width: 100%; 
    height: .3vw; 
    background-color: #D74430;
    margin: 4vw 0;
}
@media screen and (max-width: 700px){
    .divider-footer{
        height: 1.25vw;
        margin-top: 3vw;
        margin-bottom: 8vw;
    }   
}

.logo-footer{width: 13.4375vw;}
@media screen and (max-width: 700px){
    .logo-footer{width: 46.25vw;}
}

.box-policies-txt{margin-top: 1vw;}
.policies-txt{ 
    font-family: "Open Sans", Arial;
    font-size: 1vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.61);
}
@media screen and (max-width: 700px){
    .box-policies-txt{margin-top: 3vw; padding-bottom: 56vw;}
    .policies-txt{font-size: 4vw;}
}

.box-copyright-txt{
    position: absolute;
    bottom: 1.2vw;
    left: 69vw;
    width: 19.47916vw;
}
.copyright-txt{
    font-family: "Open Sans", Arial;
    font-size: 0.8vw;
    color: black;
    font-weight: 600;
}
@media screen and (max-width: 700px){
    .box-copyright-txt{
        left: 11vw; 
        top: 242vw; 
        width: 83.8vw;
        height: 20vw;
    }
    .copyright-txt{font-size: 2.5vw;}
}