*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    position: relative;
    width: 86vw;/*85vw*/
    margin: auto;
}

/* ------------------------
        START HEADER
------------------------ */
.box-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 42.82vw;

    background-image: url("../Assets/star\ uó\ topo@2x.png");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 1;
}

.box-imgStar 
{ 
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 23.5vw;
    left: 19.0625vw;
    width: 23.802083vw;
}

.box-imgWars 
{ 
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 23.5vw;
    left: 64.79166vw;
    width: 26.09375vw;
}
.imgStar, .imgWars { width: 100%; position: absolute;}

.box-imgKylo{
    position: absolute;
    top: 0;
    left: 10vw;
    width: 70.46875vw;
}
.imgKylo{ width: 100%;}

.box-createLegion{
    position: absolute;
    bottom: 0;
    left: 79.166vw;
    width: 9.140625vw;
}
@media screen and (max-width: 700px){
    .box-createLegion{width: 14.6972vw; z-index: 20; top: 37vw;}
}

.box-LegionTxt {}
.LegionTxt {font-size: 1.54vw; text-transform: uppercase;}
@media screen and (max-width: 700px){
    .LegionTxt{font-size: 2.4vw;}
}

.divider-legion {
    width: 100%; 
    background-color:black; 
    height: .18vw;
    margin: 1vw 0;
}
@media screen and (max-width: 700px){
    .divider-legion{height: 1vw;}
}

.box-index{
    display: flex;
    align-items: flex-end;
}

.index-selected {font-size: 1.45vw;} 
.index-total {font-size: 1.2vw;}
@media screen and (max-width: 700px){
    .index-selected{font-size: 2.45vw;}
    .index-total{font-size: 2.2vw;}
}

.bt-backIndex, .bt-nextIndex{
    width: 1.2vw;
    height: 1.2vw;
    font-size: 1.2vw;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: rgb(169, 189, 193);
    color: black;
}
@media screen and (max-width: 700px){
    .bt-backIndex, .bt-nextIndex{
        width: 2.2vw; 
        height: 2.2vw;
        font-size: 2.2vw;
    }
}

.bt-backIndex {margin-left: .8vw; margin-right: .5vw;}


/* ------------------------
        START MAIN
------------------------ */
.box-main{
    position: relative;
    width: 100%;
    height: 77.9583vw;
    background-image: url("../Assets/sta\ uo\ robot@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x:left;
}
@media screen and (max-width: 700px){
    .box-main{height: 140vw; margin-bottom: 104vw;}
}

.main-upSide{
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-mainInfo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 92%;
    height: 28vw;
    background-color: gray;
}
@media screen and (max-width: 700px){
    .box-mainInfo{
        flex-direction: column;
        height: 197vw;
        justify-content: flex-start;
    }
}

.divider-main{
    display: flex;
    width: 100%;
    height: .25vw;
    background-color: black;
    margin: 5vw 0;
}
@media screen and (max-width: 700px){
    .divider-main{height: 1.4vw;}
}
/*
    CARD - HOW TO DOWNLOAD
*/
.box-download{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 30.5vw;
    z-index: 2; 
}
.box-dwFund{} 
.dwFund { width: 20.72916vw;}
@media screen and (max-width: 700px){
    .box-download{
        position: relative;
        z-index: 0;
        margin-top: 15vw;
        height: 90vw;
        background-color: aqua;
    }
    .dwFund{width:61.66vw;}
}

.box-dwTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 5vw;
    width: 60%;
    background-color: aqua;
}
.dwTitle{
    font-size: 2.5vw;
    text-transform: uppercase;
    color: white;
}
@media screen and (max-width: 700px){
    .dwTitle{font-size: 8vw;}
}

.box-dwParagraph{
    position: absolute;
    top: 13.8vw;
    width: 85%;
    background-color: green;
}
.dwParagraph{
    font-size: 1.2vw;
    color: white;
}
@media screen and (max-width: 700px){
    .box-dwParagraph{top: 33.8vw}
    .dwParagraph{ font-size: 5vw;}
}

.box-dwBt{
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 5.8vw;
    width: 60%;
    height: 10%;
}
.dwBt{ 
    width: 100%; 
    height: 100%;
    background-color: transparent;
    border: .2vw solid white;
    border-radius: .4vw;
    outline: none;
    color: white;
    font-size: 1.2vw;
    text-transform: uppercase;
}
@media screen and (max-width: 700px){
    .dwBt{font-size: 4vw; border-radius: 1.4vw;}
}
/*
    ABOUT THE GAME
*/
.mainInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: yellow;
    width: 49.47916vw;
    height: 15vw;
}
@media screen and (max-width: 700px){
    .mainInfo{
        flex-direction: column; 
        width: 83.88vw;
        height: 44vw;
        margin-top: 6vw;
    }
}

.mainInfo-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    width: 55%;
    background-color: green;
}
.mainInfo-title{ font-size: 2.2vw;}
.mainInfo-paragraph{ font-size: 1.2vw;}
@media screen and (max-width: 700px){
    .mainInfo-txt{
        order: 2;
        width: 100%;
        margin-top: 2vw;
    }
    .mainInfo-title{font-size: 6.5vw;}
    .mainInfo-paragraph{font-size: 4.5vw;}
}

.divider-mainInfo{
    width: 35%;
    height: .25vw;
    margin: .8vw 0;
    background-color: black;
}
@media screen and (max-width: 700px){
    .divider-mainInfo{width: 50%; height: .7vw;}
}

.mainInfo-Img{
    background-color: plum;
    display: flex;
    align-items: flex-end;
    width: 40%;
}
.infoImg{ width: 100%; }
@media screen and (max-width: 700px){
    .mainInfo-Img{
        order:1;
        width: 61.66vw;
    }
}

/*
    GAME STRUCTURE 
*/
.main-bottomSide{
    position: relative;
    width: 100%;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-gameStructure{
    display: flex;
    justify-content: center;
    position: relative;
    width: 92%;
    height: 39.75vw;
    background-color: gray;
}
@media screen and (max-width: 700px){
    .box-gameStructure{width: 100%;}
}

.box-personSifh{
    position: absolute;
    top: -1vw;
    left: 0;
}
.personSifh{width: 44.0625vw;}

.box-personRey{
    position: absolute;
    top: 3.8vw;
    right: 0;
}
.personRey{width: 20.72916vw;}

/*
    MENU
*/
.box-mainMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 49.5%;
    background-color: yellow;
}

.box-menuTitle{
    display: flex;
    justify-content: flex-end;
    width: 26.927083vw;
    background-color: turquoise;
}
.menuTitle{ 
    font-size: 3.5vw; 
    text-transform: uppercase;
    text-align: end;
}
@media screen and (max-width: 700px){
    .menuTitle{font-size: 4vw;}
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 26.927083vw;
    height: 27.2vw;
    background-color: green;
    list-style: none;
}
@media screen and (max-width: 700px){
    .menu{width: 40.55vw}
}

.menu-items{
    display: flex;
    background-color: chocolate;
    height: 3vw;
}

.menu-items a{
    background-color: darkblue;
    text-decoration: none;
    font-size: 2.3vw;
    color: white;
}
@media screen and (max-width: 700px){
    .menu-items a{font-size: 3.2vw;}
}

/* ------------------------
    START ATTRIBBUTES
------------------------ */
.box-attributes{
    width: 100%;
    background-color: #2D2D2D;
} 

.box-attributesTitle{padding-top: 13vw; padding-bottom: 4vw;}
.attributes-title{
    margin-left: 7.5vw;
    text-transform: uppercase;
    color: white;
    font-size: 2.5vw;
}
@media screen and (max-width: 700px){
    .box-attributesTitle{display: flex; align-items: center; justify-content: center;}
    .attributes-title{font-size: 3.5vw;}
}

.box-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.img-battleFront{width: 42.9166vw;}
@media screen and (max-width: 700px){
    .img-battleFront{width: 100%;}
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.img-stormTrooper{width: 21.35416vw;}
.img-starGame{width: 21.35416vw;}
.img-naves{width: 21.35416vw;}
@media screen and (max-width: 700px){
    .img-stormTrooper, .img-starGame, 
    .img-naves, .gallery{width: 100%;}
}

.hierarchyTrooper{width: 100%; margin-top: 4vw;}


.box-safetyRules{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1vw;
    padding-bottom: 20vw;
}

.safetyRules-paragraph{
    width: 42.2916vw; 
    color:#FFFFFF;
    font-size: 1.1vw;
    text-align: end;
}

/* ------------------------
    START HOW TO PLAY
------------------------ */
.box-howPlay{
    width: 100%;
    margin-bottom: 10vw;
}

.box-captain{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27.96875vw;
}
.img-captain{width: 100%;}

.box-howPlay-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 27vw;
    width: 100%;
}
.howPlay-txt{color: white; font-size: 3.5vw;}

.box-tutorial{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;    
    width: 100%;   
    background-color: purple;
}

.steps{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;    
    width: 65%;
    height: 22vw;   
    background-color: yellow;
}

.step-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 13.5416vw;
    background-color: aqua;
}
.order{font-size: 3.2vw;}
.bt-download{
    width: 100%;
    height: 3.8vw;
    outline: none;
    border: none;
    color: white;
    background-color: #000000;
    text-transform: uppercase;
    font-size: 1.4vw;
    margin: 1vw 0;
}
.step-paragraph{width:9.166vw; font-size: 1.2vw;}
.underline{
    width: 40%; 
    height: .45vw;
    background-color: black;
    margin-top: 1vw;
}

/* ------------------------
    START FOOTER
------------------------ */
.box-footer{
    position: relative;
    width: 63.9583vw;
    background-color: red;
    height: 45vw;
}

.box-darthVader{
    position: absolute;
    left: 52.5vw;
    bottom: 1vw;
    width: 39.375vw;
}
.img-darthVader{width: 100%;}